<% provide(:title, 'Find Me')%>

<div class = "findMe">
	<div id= "main">   
	<div class = "icon"> 
	 <%= link_to_image('linkedin.png', 'http://www.linkedin.com/pub/dinorah-carrion/31/6b2/16b')%> 
	 <%= link_to_image('GitHub-Mark-120px-plus.png', 'https://github.com/DinorahCr/')%> 
	 <%= link_to_image('gmail-64.png', 'mailto:dcarrion@uci.edu')%> 
	</div>
	</div>
</div>